.content_container bodycopy {
  height: 100vh;
}
.content_container bodycopy.content_padding {
  padding-bottom: 1rem;
}
.content_container bodycopy.content_padding .page_content {
  overflow-y: clip;
  padding-bottom: 1rem;
}

.homepage .content_container bodycopy.content_padding {
  overflow: auto;
}

.homepage .content_container bodycopy.content_padding .page_content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 30px;
  align-items: center;
}

.homepage .content_container bodycopy.content_padding .page_content a {
  margin-top: -30px;
}
